<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_without_background"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_without_background"
        android:supportsRtl="true"
        android:theme="@style/Theme.FOODIES"
        tools:targetApi="31">
        <activity
            android:name=".UI.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".UI.SavedRecipesActivity"
            android:exported="false" />
        <activity
            android:name=".UI.NetworkErrorActivity"
            android:exported="false" />
        <activity
            android:name=".UI.OthersRecipeDetailActivity"
            android:exported="false" />
        <activity
            android:name=".UI.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".UI.ViewOthersRecipeActivity"
            android:exported="false" />
        <activity
            android:name=".UI.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".UI.UpdateActivity"
            android:exported="false" />
        <activity
            android:name=".UI.UploadActivity"
            android:exported="false" />
        <activity
            android:name=".UI.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".UI.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".UI.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".UI.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>